---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Content Widget **************** -->
  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/denismayer',
        },
      },
      {
        icon: 'tabler:brand-medium',
        callToAction: {
          target: '_blank',
          text: 'Medium',
          href: 'https://medium.com/@denismayer',
        },
      },
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/i_am_denis_mayer/',
        },
      },
      {
        icon: 'tabler:brand-x',
        callToAction: {
          target: '_blank',
          text: 'X',
          href: 'https://x.com/denismayer',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/denmayer',
        },
      },
    ]}
    image={{
      src: 'https://denismayer-com-images.s3.us-east-1.amazonaws.com/images/DenisMayer-Com-Profile-Pic-500W-500H.jpg',
      alt: 'Denis Mayer',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Denis Mayer</h2>
      <br />
      <p>
        A versatile business and technology executive with more than 20 years of experience in Financial Services, Media
        and Technology industries. Denis has led teams at Synchronoss Technologies, RelPro.com, Citi, Fidelity
        Investments, Goldman Sachs, JP Morgan Chase, Morgan Stanley, Walt Disney, National Basketball Association and
        Major League Baseball.
      </p>
      <br />
      <p>Denis’ blog focuses on business and technology topics with an occasional hint of pop culture.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
