---
import Layout from '~/layouts/PageLayout.astro';
import type { MetaData } from '~/types';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Home - Denis Mayer',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <BlogLatestPosts
    id="blog"
    title="Explore recent posts from my blog"
    information={`A blog that focuses mainly on business and technology topics with an occasional hint of pop culture.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>;
</Layout>
