---
import { Image } from 'astro:assets';
import denisMayerLogo from '../assets/images/DenisMayer_Primary_Logo_600x72-2025.png';
---

<span
  class="self-center rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <!-- <div
  style="display:flex;align-items: center;justify-content: center;gap:10px"
  class="ml-2 rtl:ml-0 rtl:mr-2 text-2xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
> -->
  <Image src={denisMayerLogo} alt="DenisMayer.comn Logo" height="50" style="" />
  <!-- </div> -->
</span>
